*{
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  background-color: black;
  color: cyan;
}
body {
  display: flex;
  height: 100vh;
  width: 98vw;
  place-content: center;
}
h1{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 10px;
  padding:5px;
  width: 600px;
  box-shadow: 0 0 10px 3px cyan;
}
li{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  gap: 10px;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
img{
  background-color:rgba(31, 70, 64, 0.856);
  width: 300px;
  height: 300px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px cyan;
}
section{
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  box-shadow: 0 0 5px 2px cyan;
  border-radius: 10px;
}